{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Fétiche-A-Vous{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    Bienvenue {{ app.user.prenom }} sur votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.

    <hr>
    <ul class="dropdown-menu" aria-labelledby="userDropdown"></ul>
    <li><a href="{{ path('account_password') }}">Modifier mon mot de passe</a></li>
    <li><a href="{{ path('user_fetiches') }}">Voir mes fétiches</a></li>
    <li><a href="{{ path('user_notes') }}">Voir mes notes</a></li>
    <li><a href="{{ path('user_annonces') }}">Voir mes annonces</a></li>
    <hr>
{% endblock %}
