{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
 
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <img src="{{ asset('assets/background/20210211_083839.jpg') }}" class="d-block w-100" alt="Bibelot navire en corne socle et deux eléments voiles">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Rejoignez la communauté</h1>
                    <p>Faites évaluer vos objets vintage - L'aide à la décision de vendre... ou pas - Soyez fétichiste sans complexe, on l'est aussi ! </p>
                    <p><a class="btn btn-lg btn-info" href="{{ path ('app_register') }}" role="button">Rejoignez-nous !</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <img src="{{ asset('assets/background/20201113_112149.jpg') }}" class="d-block w-100" alt="Vache en peluche trouvée en bas d'un immeuble">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Le marché de l'occasion</h1>
                    <p>Vos objets ont de la valeur - Donnez-leur une visibilité - Les tendances de l'économie collaborative en temps réel</p>
                    <p><a class="btn btn-lg btn-info" href="#" role="button">Accédez au blog</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <img src="{{ asset('assets/background/20210226_183852.jpg') }}" class="d-block w-100" alt="Assiettes murales poissons">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Partagez vos passions</h1>
                    <p>Vous connaissez vos objets mieux que quiconque - Ecrivez leur histoire sur un ton décalé et humoristique - Faites l'article autant qu'il vous plaira!</p>
                    <p><a class="btn btn-lg btn-info" href="#" role="button">Déposer une annonce</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>



    {# <header id="home-header" class="container-fluid w-100">
            <img src="assets/background/20210211_083839.jpg" alt="Navire en corne" width="100%"/>
        <h1>FETICHE<sub> Valorisez vos objets</sub></h1>
        </div>
                
    </header> #}

    <main class="container-fluid">
        <div class="row my-3">
            <div class="col-12 text-center">
                <h2>Dernières annonces</h2>
            </div>
        </div>

    <div class="row">
        {% for annonce in annonces %}
            <div class="row col-4 d-block mx-auto">
                <div class="card">
                    <img src="{{ asset('assets/annonce/' ~ annonce.img1) }}" id="cardImage" class="card-img-top img-fluid" alt="photo principale de {{ annonce.titre }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ annonce.titre }}</h5>
                    <p>{{ annonce.dateCreation ? annonce.dateCreation|date('d-m-Y') : '' }}</p>
                    <p class="card-text">{{ annonce.histoire|u.truncate(90, '...', false) }}</p>
                    </div>
                    {# <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ annonce.categorie }}</li>
                        <li class="list-group-item">{{ annonce.typeArticle }}</li>
                        <li class="list-group-item">{{ annonce.matiere }}</li>
                        <li class="list-group-item">{{ annonce.couleur }}</li>
                        <li class="list-group-item">Dimensions (en cm) : L {{ annonce.longueur }} - l {{ annonce.largeur }} - H {{ annonce.hauteur }}</li>
                        <li class="list-group-item">{{ annonce.etat }}</li>
                        <li class="list-group-item">Prix plancher : {{ annonce.prixPlancher|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix minimum : {{ annonce.prixMinimum|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix moyen : {{ annonce.prixMoyen|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix maximum : {{ annonce.prixMaximum|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Appartient à la collection : {{ annonce.collec }}</li>
                    </ul> #}
                    <div class="card-body text-center">
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="btn btn-secondary">Voir détail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex justify-content-center">
        <div style="margin: 5rem">
            <a href="{{ path('annonce_index') }}" class="large-button uppercase ff-sans-normal fs-700 text-black text-decoration-none bg-teal">Voir tout</a>
        </div>
    </div>
</main>
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
{# <script src="{{ ('assets/js/home.js') }}"></script> #}
{% endblock %}

{% endblock %}

