<h1>Bienvenue {{ email.toName }}!</h1>

<p>
    Vous vous êtes inscrit.e comme {{ username }} sous l'email suivant:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ path('registration_confirmation_route') }}">Cliquez ici pour activer votre compte</a>
    (ce lien est valide jusqu'au {{ expiration_date|date('F jS') }})
</p>