{% extends 'base.html.twig' %}

{% block title %}User-Annonce{% endblock %}

{% block body %}
<header class="container-fluid p-5 text-center bg-light">
    <h1>{{ annonce.titre }}</h1>
</header>

<main class="container-fluid">
    <div class="row p-5">
        <div class="col-8 offset-2">
            <img src="{{ asset('img/annonce/' ~ annonce.img1) }}" alt="photo principale {{ annonce.titre }}" class="w-100">
            <h2 class="py-3">{{ annonce.titre }}</h2>
            <p>{{ annonce.dateCreation ? annonce.dateCreation|date('d-m-Y') : '' }}</p>
            <p>{{ annonce.histoire }}</p>
            <ul>
                <li>{{ annonce.categorie }}</li>
                <li>{{ annonce.typeArticle }}</li>
                <li>{{ annonce.matiere }}</li>
                <li>{{ annonce.couleur }}</li>
                <li>{{ annonce.longueur }} cm</li>
                <li>{{ annonce.largeur }} cm</li>
                <li>{{ annonce.hauteur }} cm</li>
                <li>{{ annonce.etat }}</li>
                <li>{{ annonce.prixPlancher|number_format(0, ',', ' ') }} €</li>
                <li>{{ annonce.prixMinimum|number_format(0, ',', ' ') }} €</li>
                <li>{{ annonce.prixMoyen|number_format(0, ',', ' ') }} €</li>
                <li>{{ annonce.prixMaximum|number_format(0, ',', ' ') }} €</li>
                <li>{{ annonce.collec }}</li>
            </ul>
        </div>
        {% if annonce.img2 is not null %}
            <div class="col-4 offset-2">
                <h2 class="py-3">Autres photos</h2>
                <img src="{{ asset('img/annonce/' ~ annonce.img2) }}" alt="photo 2 {{ annonce.titre }}" class="w-100">
            </div>
        {% endif %}

        {% if annonce.img3 is not null %}
            <div class="col-4 offset-2">
                <img src="{{ asset('img/annonce/' ~ annonce.img3) }}" alt="photo 3 {{ annonce.titre }}" class="w-100">
            </div>
        {% endif %}

        {% if annonce.img4 is not null %}
            <div class="col-4 offset-2">
                <img src="{{ asset('img/annonce/' ~ annonce.img4) }}" alt="photo 4 {{ annonce.titre }}" class="w-100">
            </div>
        {% endif %}
    </div>
</main>

    

    <a href="{{ path('user_annonces') }}">back to list</a> <!--Retour à la liste générale des annonces > pour tous-->

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a> <!--Seul le User-D peut avoir accès à l'edit > assimilé à un admin-->

    <!-- {{ include('annonce/_delete_form.html.twig') }} Le User peut-il supprimer son annonce ici ?-->
{% endblock %}