{% extends 'base.html.twig' %}

{% block title %}User-Annonces{% endblock %}
   
{% block body %}
    
    <header class="container-fluid p-5 text-center bg-light">
       <h1>Mes Annonces</h1>
    </header> 

    <main class="container-fluid p-5">
        <div class="row">   
            {% for annonce in annonces|reverse %}
                <div class="row col-4 p-3">
                    <div class="card">
                        <img src="{{ asset('assets/annonce/' ~ annonce.img1) }}" class="card-img-top" alt="photo principale de {{ annonce.titre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.titre }}</h5>
                            <p>{{ annonce.dateCreation ? annonce.dateCreation|date('d-m-Y') : '' }}</p>
                            <p class="card-text">{{ annonce.histoire|u.truncate(75, '...', false) }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ annonce.categorie }}</li>
                        <li class="list-group-item">{{ annonce.typeArticle }}</li>
                        <li class="list-group-item">{{ annonce.matiere }}</li>
                        <li class="list-group-item">{{ annonce.couleur }}</li>
                        <li class="list-group-item">Dimensions (en cm) : L {{ annonce.longueur }} - l {{ annonce.largeur }} - H {{ annonce.hauteur }}</li>
                        <li class="list-group-item">{{ annonce.etat }}</li>
                        <li class="list-group-item">Prix plancher : {{ annonce.prixPlancher|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix minimum : {{ annonce.prixMinimum|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix moyen : {{ annonce.prixMoyen|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Prix maximum : {{ annonce.prixMaximum|number_format(0, ',', ' ') }} €</li>
                        <li class="list-group-item">Appartient à la collection: {{ annonce.collec }}</li>
                        </ul>
                        <div class="card-body text-center">
                        <a href="{{ path('user_annonce', {'id': annonce.id}) }}" class="btn btn-secondary">Voir détail</a>
                        </div>
                    </div>
                </div>
                
                <!-- <a href="{{ path('annonce_show', {'id': annonce.id}) }}">voir</a> // Lien à traiter pour le User idem fetiche/user-->
                <!-- <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">modifier</a> // dans l'admin_annonce ???-->
        
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}